/*
    NAME OF THE PROJECT (subtitle)
    by Cahdmus

    Table of Contents:
        GENERAL
            reset
            font styling
        HEADER
        CONTENT
*/

/* GENERAL
----------------------------------------------- */
@import url(https://fonts.bunny.net/css?family=anek-latin:200|bebas-neue:400);
/* usually I get my fonts on https://fonts.bunny.net */

:root {
  --background-color: hsla(0, 0%, 91%, 0.7);
  --font-color: hsl(37, 17%, 29%);
  --accent-font-color: hsl(0, 0%, 91%);
  --accent-color: hsl(28, 59%, 62%);
  --secondary-accent-color: hsl(11, 43%, 55%);
  --border-color: hsl(56, 20%, 85%);

  --main-font: 'Anek Latin', sans-serif;
  --accent-font: 'Bebas Neue', display;
}

body {
  background-image: linear-gradient(20deg,
      hsl(176deg 36% 58%) 0%, hsl(171deg 39% 60%) 5%,hsl(164deg 40% 62%) 10%,
      hsl(156deg 41% 64%) 15%,hsl(146deg 41% 67%) 19%,hsl(133deg 40% 69%) 24%,
      hsl(115deg 40% 72%) 28%,hsl(97deg 45% 71%) 33%,hsl(83deg 49% 70%) 37%,
      hsl(71deg 53% 70%) 42%,hsl(60deg 55% 69%) 47%,hsl(51deg 65% 70%) 51%,
      hsl(45deg 66% 68%) 56%,hsl(39deg 66% 66%) 60%,hsl(35deg 64% 65%) 65%,
      hsl(30deg 61% 63%) 70%,hsl(26deg 58% 61%) 75%,hsl(21deg 54% 60%) 79%,
      hsl(16deg 49% 58%) 84%,hsl(12deg 44% 56%) 90%,hsl(6deg 38% 54%) 95%,
      hsl(0deg 33% 52%) 100%);
  display: flex;
}

/* reset
------------------------ */
*, *:before, *:after {
  box-sizing: inherit;
  /* Uncomment next line when you're lost */
  /* border: 1px dotted red; */
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: clamp(1rem, 0.75rem + .75vw, 1.5rem);
}

body {
  font-family: var(--main-font);
  color: var(--font-color);
  line-height: 1.5;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--accent-font);
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}


/* styling
------------------------ */
h1 {
  text-transform: uppercase;
  font-weight: bolder;
  /* color: var(--accent-color); */
}
nav > h1 {
  text-align: center;
}
button {
  background-color: var(--accent-color);
  border: none;
  padding: .5rem .7rem;
  border-radius: 15px;
  margin: .5rem;
  font-family: var(--accent-font);
  color: var(--accent-font-color);
  cursor: pointer;
}
button:hover {
  background-color: var(--secondary-accent-color);
}
hr {
  color: var(--border-color);
  opacity: 40%;
}
li {
  padding: .2rem;
}
li:hover {
  padding-left: .5rem;
  background-color: var(--border-color);
  cursor: pointer;
}

/* HEADER
----------------------------------------------- */

/* CONTENT
----------------------------------------------- */

#content {
  background-color: var(--background-color);
  width: 100%;
  margin: 2rem;
  border-radius: 25px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#content, nav {
  -webkit-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, 0.2);
  -moz-box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, 0.2);
  box-shadow: 0px 3px 24px -8px rgba(145, 112, 67, 0.2);
}

nav, main {
  padding: 1rem;
}

nav {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
hr {
  width: 90%;
}
#projects {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#credits {
  text-align: center;
  font-size: .75rem;
  opacity: 50%;
}

#projectContainer {
  width: 100%;
  text-align: left;
}